main {
  background-color: $grayColor;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;

  header {
    display: flex;
    background-color: $blackColor;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;

    form {
      display: flex;
      width: 100%;
      max-width: 350px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.221);
      @media (max-width: 650px) {
        max-width: unset;
      }

      input {
        background: transparent;
        padding: 15px;
        color: $textColor;
        width: 100%;
      }

      button {
        background: none;
        color: $textColor;
        cursor: pointer;
        margin-right: 10px;
      }
    }

    nav {
      display: flex;
      gap: 15px;
      @media (max-width: 650px) {
        display: none;
      }

      span {
        font-size: 14px;
        cursor: pointer;
        white-space: nowrap;
        color: white;
        padding: 10px;
      }
    }
  }
}
